body {
  max-width: 1128px;
  margin: 0 auto;
  padding: 100px 156px;
}
.gallery {
  display: flex;
  flex-direction: row;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.gallery-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
